<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MomentApiKey</key>
	<string>9c1db5ce-09da-4e13-b045-97260d24dff5</string>
	<key>MomentProjectId</key>
	<string>66fa5aa03b7c9ec9313999ba</string>
</dict>
</plist>
