<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MomentApiKey</key>
	<string>321abc9f-660c-41d5-b3f2-e3e8623a2eea</string>
	<key>MomentProjectId</key>
	<string>654b515f1a50531fdf5ffb18</string>
</dict>
</plist>
