<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MomentApiKey</key>
	<string>230fdb8f-499c-4711-919a-a2ef641909d3</string>
	<key>MomentGroupId</key>
	<string>group.ai.fairytech.FairyExample</string>
	<key>MomentProjectId</key>
	<string>65976bdb884bcd789ec11195</string>
</dict>
</plist>
